@font-face {
    font-family: "Media Sans";
    src: url("/src/assets/Fonts/mediasans-regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Compact Display";
    src: url("src/assets/Fonts/SF-Compact-Display-Thin.otf");
}

html{
    scroll-behavior: smooth;
}


.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.TopLogo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.TopLogo a{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 30px;
    font-weight: bold;
    font-family: "Media Sans", sans-serif;
    letter-spacing: 3px;
}


.TopLogo p{
    font-size: 15px;
    color: #686868;
    font-family: "SF Compact Display", sans-serif;
    margin-top: 2px;
}

.Navlinks{
    display: flex;
}

.Navlinks ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: right;
    gap: 2px;
}

.Navlinks li{
    margin: 0 10px;
}

.Navlinks a{
    text-decoration: none;
    color: #585858;
    text-align: right;
    transition: color 0.2s;
    font-family: "SF Compact Display", sans-serif;
}

.Navlinks a:hover {
    color: #cccccc;
}

.Navlinks a.active {
    color: #f0f0f0;
    transition: background 0.3s, color 0.2s;
}

.email-button {
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #121212;
    cursor: pointer;
    font-family: "SF-Compact-Display", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.email-button:hover {
    background-color: #222;
    color: #fff;
    transform: scale(1.05);
}

@media (max-width: 700px) {
  .Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background: none !important;
    padding: 10px 8px;
  }
  .Navlinks {
    display: none !important;
  }
  #home.hero.wrapper {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .main-hero-text {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
