*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;       /* or any unit like px, em, rem, %, vw */
    height: 100vh;      /* 100% of the viewport height */
    text-align: center;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}




.about-img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transform: translateY(-10%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}