@font-face {
  font-family: "SF Compact Display";
  src: url("./assets/Fonts/SF-Compact-Display-Thin.otf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;;
}

body{
  font-family: "SF Compact Display", sans-serif;
  overflow-x: hidden;
  background-color: rgb(10, 10, 10);
  color: #cccccc;
}

body::selection{
  background-color: #eeeeee;
  color: #161616;
}

